PORT=4040
JWT_SECRET=change-me
FRONTEND_URL=http://localhost:5173

# PayFast
PAYFAST_SANDBOX=true
PAYFAST_MERCHANT_ID=10000100
PAYFAST_MERCHANT_KEY=46f0cd694581a
PAYFAST_PASSPHRASE=jt7NOE43FZPn
PAYFAST_NOTIFY_URL=https://YOUR_PUBLIC_BACKEND_URL/api/payment/payfast/notify
PAYFAST_RETURN_URL=http://YOUR_PUBLIC_FRONTEND_URL/payment?status=success
PAYFAST_CANCEL_URL=http://YOUR_PUBLIC_FRONTEND_URL/payment?status=cancelled
